* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.cores {
  color: #68d4cd;
  /* cor do texto da logo */
  color: #3c737b;
  color: #274854;
  color: #142434;
  /* cor do fundo da logo */
  color: #c3c8cc;
  color: #848c9c;
  color: #66727c;
  color: #455464;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  padding: 1rem 2rem;
  background-color: #142434;
}

header li {
  list-style: none;
}

header a {
  color: #c3c8cc;
  text-decoration: none;
  font-weight: 600;
}

header a:hover {
  color: #68d4cd;
}

.logo {
  height: 6rem;
}

.menu-principal {
  width: 35%;
}

.menu-principal ul {
  display: flex;
  justify-content: space-between;
}